/* HeroSlider.css */

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

/* Arrows */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 40px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 10;
}

.left {
  left: 40px;
}

.right {
  right: 40px;
}



.arrow:hover {
  background: white;
}